# Ignore everything by default
*

# Allow specific files and folders
!.gitignore
!.github/
!.github/*
!misc/
!anki/
!pdf/
!src/
!static/
!assets
!assets/*
!main.py
!src/static.py
!*.md
.*.md
!requirements.txt

!src/**/*
src/__pycache__/
# Ensure all output files are not ignored
!static/**/*
!misc/**/*
# Ignore test guard
misc/*read_local_data*.json